//#app{
//  background-image: url('/images/pages-fone.jpg');
//}

.is-muted{
  color: #9a4d28;
}
.is-muted:hover{
  color: #ff5c2b;
}

//Navigation panel
.navbar {
  height: 135px;
  background-color: #18191b;
  border-bottom: 2px solid #ff5c2b;
  a{
    color: #b05229;
  }
  a:hover {
    color: #ff5c2b;
    background-color: #18191b;
    border-bottom: 1px solid #ff5c2b;
  }

  .navbar-brand {
    .navbar-item img{
      max-height: 120px;
    }
  }

  .navbar-start {
    .navbar-item img {
      max-height: 55px;
      width: auto;
    }
  }

  a.navbar-item {
    display: block;
    text-align: center;
  }

  .navbar-dropdown {
    border: 2px solid #ff5c2b;
    padding-bottom: 0;
    padding-top: 1px;
    .navbar-item {
      text-align: left;
      background-color: #18191b;
    }
    .navbar-item:hover{
      background-color:#18191b ;
      border: 1px solid #ff5c2b;
      color:#ff5c2b;
    }
  }
  .navbar-divider{
    background-color:#b05229;
    margin: 0rem;
  }
}

.card-content{
  margin: 20px;
}

